	html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
	  
	.container {
		width:100%;
		height: 100%;
	}
	  
    #map {
        height: 100%;
		width:100%;
		display:inline;
		float:left;
    }
		
	.sidebar{
		height: 100%;
		width: 20%;
		display:inline;
		float:left;
		background:#FFEFD5;
		color:#000080;
	}
	
	.subscribe, .print {
		display: block;
		float:none;
		margin:0 auto 4rem;
		padding: 2px 15px;
	}
	
	h1 {
		font-family: "Brush Script MT", cursive;
		text-align: center;
		font-size: 42px;
	}
	
	h2 {
		font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
		font-style: italic;
		text-align:justify;
		
	}
	#idPrintArea {
		height: 100%;
		width:80%;
		display:inline;
		float:left;
	}
	
	#static, .button {
		text-decoration:none;
		border-radius: 6px;
		background-color: navy;
		text-align: center;
        color: white;
		padding: 8px 8px;
		border-width: 2px;
		font-size: 18px;
		position:relative;
		font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
	}
	
	#static {
		margin-left: 25%;
	}
	
	#email{
		border-radius: 6px;
		padding: 8px 8px;
		border-width: 2px;
		position:relative;
		font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
		font-size: 18px;
	}
	
	.button{
		margin-left:10px;
	}
	
	#nautical{
		height:100%;
		position: fixed;
		z-index: 0;
		opacity: .05;
	}
	
	#instructions, #signup {
		font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
		font-weight:bold;
	}
	
	/* For 1647px or less */
	@media screen and (max-width: 1647px) {

    #email {
		width:50%;
    }
	
	/* For 1392px or less */
	@media screen and (max-width: 1392px) {

    #email {
		width:40%;
    }
	
	/* For 1186px or less */
	@media screen and (max-width: 1186px) {

    #email {
		width:30%;
    }
	
	#static {
		margin-left: 10%;
	}
	
	/* For 1039 or less */
	@media screen and (max-width: 1039px) {

    #email {
		width:70%;
		margin-bottom:10px;
    }
		

	
	